body{
  padding-bottom: 70px;
}
h1 {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

.profile_picture {
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;

}

.jumbotron{
  margin-top: 35px;
  text-align: center;
  background-color: #ecf0f1;
}

.container-fluid{
  background-color: rgba(0,0,0,.9);
}

.navbar .nav > li > a{
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  color: #FFFFFF;
}

.navbar .nav > li > a:hover{
  color: #3498db;
  text-shadow: none;
}

.navbar .nav > li > a:.active{
  color: #3498db;
  text-shadow: none;
}

.github{

}

.fa{
  color: #FFFFFF;
}

.fa:hover{
  color: #3498db;
}

.myName{
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  color: #FFFFFF;
}

.navbar-default .navbar-brand > a:hover {
    color: #FFFFFF;
}

.content_1{
  padding-left: 50px;
  padding-right: 50px;
}
.content_2{
  padding-left: 50px;
  padding-right: 50px;
}
.content_3{
  padding-left: 50px;
  padding-right: 50px;
}
.content_4{
  padding-left: 50px;
  padding-right: 50px;
}

.resume {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.collapsedNav{
  color: #FFFFFF;
}

.navbar-toggle{
  color: #FFFFFF;
}

.why_comp_sci{
  margin-bottom: 1em;
}

.favorite_proj{
  margin-bottom: 1em;
}
